.about {
  min-height: 200px;
  padding-bottom: 40px;
  &__wrapper {
    background-image: url("./images/about_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    color: white;
    text-align: center;
    padding: 100px;
    &-title {
      font-size: 32px;
    }
    &-text {
      letter-spacing: 0.04em;
      margin: 20px 0;
    }
  }
}
